node_red_scripts/flows.json
[{"id":"d3d6fd74.af17c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"89c27e48.8f94b","type":"ui_group","name":"Group 1","tab":"db5b02a3.8e8a7","order":1,"disp":false,"width":"4","collapse":false},{"id":"e07fea20.fc0b68","type":"ui_group","name":"Group 2","tab":"db5b02a3.8e8a7","order":2,"disp":false,"width":"4","collapse":false},{"id":"8cc7273f.6515c8","type":"ui_group","name":"Group 5","tab":"db5b02a3.8e8a7","order":5,"disp":false,"width":"4","collapse":false},{"id":"ace67f24.55f6f","type":"ui_group","name":"Group 6","tab":"db5b02a3.8e8a7","order":6,"disp":false,"width":"4","collapse":false},{"id":"ca70b33e.8051","type":"ui_group","name":"Power Menu","tab":"a442f042.6f815","order":1,"disp":true,"width":"4","collapse":false},{"id":"ca10094c.b2cf08","type":"ui_group","name":"Group 4","tab":"db5b02a3.8e8a7","order":3,"disp":false,"width":"4","collapse":false},{"id":"db5b02a3.8e8a7","type":"ui_tab","name":"Sensor","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a442f042.6f815","type":"ui_tab","name":"Home","icon":"fa-dashboard fa-3x","order":1,"disabled":false,"hidden":false},{"id":"156f932b.686d2d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#535555","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#535555","edited":true},"page-titlebar-backgroundColor":{"value":"#535555","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#797c7c","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#535555","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"55a2bf42.e4457","type":"ui_group","name":"utilities","tab":"a442f042.6f815","order":2,"disp":true,"width":"2","collapse":false},{"id":"ca2f45fb.0f0698","type":"ui_group","name":"Google Services","tab":"a442f042.6f815","order":3,"disp":true,"width":"6","collapse":false},{"id":"ca2272c3.e8396","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"d3c1dbf9.824f78","type":"ui_group","name":"Tabs","tab":"a442f042.6f815","order":4,"disp":true,"width":"3","collapse":false},{"id":"24a25604.1257ca","type":"ui_spacer","name":"spacer","group":"ca2f45fb.0f0698","order":9,"width":2,"height":1},{"id":"dc0d432d.01efa","type":"ui_spacer","name":"spacer","group":"ca2f45fb.0f0698","order":10,"width":2,"height":1},{"id":"4e8b5f24.30276","type":"camerapi-takephoto","z":"d3d6fd74.af17c","filemode":"2","filename":"a.jpeg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"8","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":460,"y":200,"wires":[["bb28a603.37e4e8"]]},{"id":"a936acdd.56a55","type":"ui_button","z":"d3d6fd74.af17c","name":"","group":"55a2bf42.e4457","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-camera fa-3x","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":220,"wires":[["4e8b5f24.30276"]]},{"id":"c24b445f.9bbec8","type":"rpi-dht22","z":"d3d6fd74.af17c","name":"sensor","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"26","x":310,"y":360,"wires":[["1d86478.62120b9","eac5b394.cdb78"]]},{"id":"1d86478.62120b9","type":"function","z":"d3d6fd74.af17c","name":"humidity","func":"msg.payload=msg.humidity\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":420,"wires":[["83cbf2e3.75864"]]},{"id":"eac5b394.cdb78","type":"function","z":"d3d6fd74.af17c","name":"temp","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":360,"wires":[["1f80dc3b.4c5ed4"]]},{"id":"1f80dc3b.4c5ed4","type":"ui_gauge","z":"d3d6fd74.af17c","name":"temp-gauge","group":"e07fea20.fc0b68","order":1,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"Celsius","format":"{{value}}","min":"-10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":360,"wires":[]},{"id":"83cbf2e3.75864","type":"ui_gauge","z":"d3d6fd74.af17c","name":"humidity-gauge","group":"e07fea20.fc0b68","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":420,"wires":[]},{"id":"a459ce46.9ec39","type":"inject","z":"d3d6fd74.af17c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["c24b445f.9bbec8"]]},{"id":"9616d2ff.f54d3","type":"exec","z":"d3d6fd74.af17c","command":"bash /home/pi/node_red_scripts/script.sh","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"mq","x":360,"y":940,"wires":[["ecf6bf0c.09ed2"],[],[]]},{"id":"ecf6bf0c.09ed2","type":"function","z":"d3d6fd74.af17c","name":"","func":"var t=msg.payload;\nk=t.split(':')\nfor (i = 0; i < k.length; i++)\n{\n    k[i]=parseInt(k[i])\n}\nmsg.payload=k;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1000,"wires":[["cc12f571.026bf8","850391a3.9effd","489f1203.d405dc","3a51cbf0.600b54","98834f1a.3b465"]]},{"id":"98834f1a.3b465","type":"ui_gauge","z":"d3d6fd74.af17c","name":"LPG","group":"8cc7273f.6515c8","order":0,"width":0,"height":0,"gtype":"donut","title":"LPG","label":"ppm","format":"{{msg.payload[2]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":1080,"wires":[]},{"id":"cc12f571.026bf8","type":"ui_gauge","z":"d3d6fd74.af17c","name":"CO","group":"8cc7273f.6515c8","order":0,"width":0,"height":0,"gtype":"donut","title":"CO","label":"ppm","format":"{{msg.payload[0]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":980,"wires":[]},{"id":"850391a3.9effd","type":"ui_gauge","z":"d3d6fd74.af17c","name":"CH4","group":"8cc7273f.6515c8","order":0,"width":0,"height":0,"gtype":"donut","title":"CH4","label":"ppm","format":"{{msg.payload[1]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":1040,"wires":[]},{"id":"489f1203.d405dc","type":"ui_gauge","z":"d3d6fd74.af17c","name":"Smoke","group":"ace67f24.55f6f","order":0,"width":0,"height":0,"gtype":"donut","title":"Smoke","label":"ppm","format":"{{msg.payload[4]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":1160,"wires":[]},{"id":"3a51cbf0.600b54","type":"ui_gauge","z":"d3d6fd74.af17c","name":"Alchol","group":"ace67f24.55f6f","order":0,"width":"0","height":"0","gtype":"donut","title":"Alchol","label":"ppm","format":"{{msg.payload[3]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":1120,"wires":[]},{"id":"2cbdedf.3e9db12","type":"ui_button","z":"d3d6fd74.af17c","name":"","group":"55a2bf42.e4457","order":3,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-play-circle fa-3x","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":900,"wires":[["9616d2ff.f54d3"]]},{"id":"27081ad6.412036","type":"debug","z":"d3d6fd74.af17c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"eb06ac5.318855","type":"exec","z":"d3d6fd74.af17c","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"shutdown","x":540,"y":1280,"wires":[[],[],[]]},{"id":"a22b6613.f7d118","type":"ui_button","z":"d3d6fd74.af17c","name":"","group":"ca70b33e.8051","order":2,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off fa-3x","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":1260,"wires":[["eb06ac5.318855"]]},{"id":"cd7594ed.4a6fc8","type":"ui_button","z":"d3d6fd74.af17c","name":"reboot","group":"ca70b33e.8051","order":6,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"","icon":"fa-refresh fa-3x","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":1300,"wires":[["bdb7a3a6.1515e"]]},{"id":"bdb7a3a6.1515e","type":"exec","z":"d3d6fd74.af17c","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot","x":550,"y":1340,"wires":[[],[],[]]},{"id":"7db57965.76d468","type":"ui_button","z":"d3d6fd74.af17c","name":"google","group":"ca2f45fb.0f0698","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-google fa-3x","payload":"google","payloadType":"str","topic":"","topicType":"str","x":150,"y":1480,"wires":[["ece06122.7e762"]]},{"id":"5e1f0081.6dc3c","type":"ui_template","z":"d3d6fd74.af17c","group":"ca2f45fb.0f0698","name":"window redirect","order":11,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"google\") {\n          //window.open(\"https://www.nodered.org\");\n          //window.location.href = \"https://www.nodered.org\";\n          window.top.location.href=\"https://www.google.com\";\n        \n            \n        } \n        else if (data == \"mail\") {\n          //window.open(\"https://github.com/node-red\");\n          window.parent.location.href = \"https://mail.google.com\";\n        } \n        else if (data == \"calendar\") {\n            //window.open(\"https://github.com/node-red\");\n            window.location.href = \"https://calendar.google.com\";\n          }\n        else if (data == \"photos\") {\n          //window.open(\"https://github.com/node-red\");\n          window.location.href = \"https://photos.google.com\";\n        }\n        else if (data == \"drive\") {\n          //window.open(\"https://github.com/node-red\");\n          window.parent.location.href = \"https://drive.google.com\";\n        }\n        else if (data == \"duo\") {\n            //window.open(\"https://github.com/node-red\");\n            window.parent.location.href = \"https://duo.google.com\";\n        }\n        else if (data == \"translate\") {\n            //window.open(\"https://github.com/node-red\");\n            window.location.href = \"https://translate.google.com\";\n          }\n        else if (data == \"yt\") {\n            //window.open(\"https://github.com/node-red\");\n            window.location.href = \"https://youtub.com\";\n          }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":1500,"wires":[["8582289.2d757d8"]]},{"id":"23caf401.9d6d4c","type":"ui_button","z":"d3d6fd74.af17c","name":"mail","group":"ca2f45fb.0f0698","order":2,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-envelope-o fa-3x","payload":"mail","payloadType":"str","topic":"","topicType":"str","x":150,"y":1520,"wires":[["ece06122.7e762"]]},{"id":"ece06122.7e762","type":"trigger","z":"d3d6fd74.af17c","name":"reset msg","op1":"","op2":"empty","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":360,"y":1460,"wires":[["5e1f0081.6dc3c"]]},{"id":"8582289.2d757d8","type":"debug","z":"d3d6fd74.af17c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1500,"wires":[]},{"id":"9df3757d.282168","type":"ui_button","z":"d3d6fd74.af17c","name":"photo","group":"ca2f45fb.0f0698","order":7,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-photo fa-3x ","payload":"photos","payloadType":"str","topic":"","topicType":"str","x":150,"y":1560,"wires":[["ece06122.7e762"]]},{"id":"ebd4e61a.02e218","type":"ui_button","z":"d3d6fd74.af17c","name":"","group":"ca2f45fb.0f0698","order":8,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-cloud fa-3x ","payload":"drive","payloadType":"str","topic":"","topicType":"str","x":150,"y":1600,"wires":[["ece06122.7e762"]]},{"id":"d0f19655.e4ede8","type":"ui_button","z":"d3d6fd74.af17c","name":"translate","group":"ca2f45fb.0f0698","order":3,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-language fa-3x ","payload":"translate","payloadType":"str","topic":"","topicType":"str","x":160,"y":1640,"wires":[["ece06122.7e762"]]},{"id":"133edd4.3137523","type":"ui_button","z":"d3d6fd74.af17c","name":"duo","group":"ca2f45fb.0f0698","order":4,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-video-camera fa-3x ","payload":"duo","payloadType":"str","topic":"","topicType":"str","x":150,"y":1680,"wires":[["ece06122.7e762"]]},{"id":"df2e72e0.3c396","type":"ui_button","z":"d3d6fd74.af17c","name":"calender","group":"ca2f45fb.0f0698","order":5,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-calendar  fa-3x ","payload":"calendar","payloadType":"str","topic":"","topicType":"str","x":160,"y":1720,"wires":[["ece06122.7e762"]]},{"id":"c751a6ae.19d778","type":"ui_button","z":"d3d6fd74.af17c","name":"youtube","group":"ca2f45fb.0f0698","order":6,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-youtube-play fa-3x ","payload":"yt","payloadType":"str","topic":"","topicType":"str","x":168,"y":1765,"wires":[["ece06122.7e762"]]},{"id":"3e7e2b17.368094","type":"ui_button","z":"d3d6fd74.af17c","name":"","group":"d3c1dbf9.824f78","order":1,"width":3,"height":2,"passthru":false,"label":"Sensors ","tooltip":"","color":"","bgcolor":"","icon":"fa-microchip fa-3x","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":160,"y":1820,"wires":[["3368eddf.e85952"]]},{"id":"3368eddf.e85952","type":"ui_ui_control","z":"d3d6fd74.af17c","name":"","events":"all","x":350,"y":1840,"wires":[[]]},{"id":"1cc9bafa.00a685","type":"ui_button","z":"d3d6fd74.af17c","name":"","group":"ca70b33e.8051","order":2,"width":0,"height":0,"passthru":false,"label":"exit chrome","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":280,"y":1220,"wires":[["84527ece.f6f99"]]},{"id":"84527ece.f6f99","type":"exec","z":"d3d6fd74.af17c","command":"pkill -o chromium-browse","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"close chrome","x":460,"y":1220,"wires":[[],[],[]]},{"id":"16cf65f0.bac69a","type":"ui_toast","z":"d3d6fd74.af17c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":770,"y":260,"wires":[[]]},{"id":"bb28a603.37e4e8","type":"function","z":"d3d6fd74.af17c","name":"","func":"a=msg.payload;\na=a.replace(\"/home/pi\",\"\")\nk=\"<img src= \\\"payload\\\" style=\\\"width:600px;height:290px\\\">\";\nk=k.replace('payload',a);\nmsg.payload=k;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":180,"wires":[["16cf65f0.bac69a","27081ad6.412036"]]}]